.img-dist{
  margin-top: 100px;
}
#mission {
  margin: 7% 0;

  .heart-beat {
    position: absolute;
    right: 30%;
    top: 0;
    @include media-breakpoint-down('lg'){
      top: 64%;
      right: 76%;
      width: 10%;
    }
  }
}

#hero-section {
  background-image: url("images/Vector41.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  margin: 4% 0;

  @include media-breakpoint-down('lg') {
    background-position: center;
    background-image: url("images/Vector88.png");
    .about-bg{
      width: 60%;
      float: left;
      @include media-breakpoint-down('lg'){
        width: 70%;
      }
    }
    .phone-img{
      width: 60%;
      float: left;
      @include media-breakpoint-down('lg'){
        width: 70%;

      }
    }
  }

  h2 {
    margin-top: 15dvh;
    @include media-breakpoint-down('lg'){
      margin-top: 0;

    }
  }

  p {
    padding: 0 0 23% 0;
    @include media-breakpoint-down('lg') {
      padding:0;

    }

  }

  .girl-bit {
    position: absolute;
    bottom: 10%;
    @include media-breakpoint-down('lg'){
      width: 30%;
      top: 33%;
    }
  }

  .title-shape {
    align-items: center;
    margin-top: 10%;
  }
}
#brand{

}
#value-box {
  padding-bottom: 10%;
  position: relative;
span{
  color: #000;
  font-weight: 400;
  font-size: 22px;
  position: relative;
  z-index: 9;
  text-align: center;
  @include media-breakpoint-down('lg') {
    font-size: 14px;
  }
}
  .serious-box {
    border-radius: 24px;
    border: 2px dashed #10069F;
    background: linear-gradient(180deg, #FFFAE6 0%, #FBE26C 100%);
    box-shadow: -4px 6px 12px 0 rgba(0, 0, 0, 0.15);
    margin: 40px 0;
    position: relative;
    overflow: hidden;
    h2 {
      margin: 24px 0;
      font-size: fluid-font(20px, 32px);
      padding: 3% 0;
      font-weight: 700;
    }
    p {
      color: #000;
      font-weight: 400;
      font-size: 22px;
      position: relative;
      z-index: 9;
      @include media-breakpoint-down('lg') {
        font-size: 14px;
      }
    }

    .outline {
      height: calc(100% - 0.75vw);
      left: 50%;
      position: absolute;
      top: 50%;
      width: calc(100% - 0.75vw);
      transform: translate(-50%, -50%);
      opacity: .2;

      svg {
        width: 100%;
        height: 100%;

        rect {
          stroke: #10069F;
          stroke-width: 2px;
          fill: none;
          stroke-dasharray: 4 4;
          animation: dottedLineAnim .6s infinite linear;
        }

        @keyframes dottedLineAnim {
          0% {
            stroke-dashoffset: 2.7;
          }
          100% {
            stroke-dashoffset: 8.1;
          }
        }
      }

    }
  }



  p {
    color: #10069F;
    font-size: fluid-font(14px, 24px);
    font-style: normal;
    font-weight: 700;
  }

  .border-line {
    width: 43%;
    height: 20px;
    border-radius: 300px;
    background: #ffe166;
    text-align: center;
    position: absolute;
    right: 29%;
    bottom: 0;
    z-index: -2;
    @include media-breakpoint-down('lg'){
      width: 96%;
      right: 3%;
bottom: 0;
    }
  }
  .card {
    background: none;
  }
}

#contact-way {
  margin: 5% 0;
.middle-box{
  margin-top: 21px;
}
  .icon-box {
    &:not(:last-child) {
      border-bottom: 1px dashed #FFCD00;
    }

    p {
      font-size: fluid-font(14px, 20px);
    }
    span {
      text-align: right;
      font-size: fluid-font(14px, 18px);
      font-style: normal;
      font-weight: 700;
      padding: 0 5%;
    }
  }
}

.wpcf7-submit {
  border-radius: 20px;
  border: 2px solid #10069F;
  background: #FFF;
  box-shadow: 0 6px 0 0 #10069F;
  width: 35%;
}

label {
  display: block;
  text-align: right;
  font-family: Pelak;
  font-size: 18px;
  font-style: normal;
  margin-bottom: 6px;
}

textarea {
  height: 100px;
  width: 100%;
  border: 1px solid #999;
  background: #FFF0B3;
  padding: 5px;
  border-radius: 6px;
}

input {
  width: 100%;
  border: 1px solid #999;
  background: #FFF0B3;
  padding: 5px;
  border-radius: 6px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #10069F;
}

.submit-wrapper {
  text-align: left;
}

input.wpcf7-submit {
  background: #fff;
  border: 1px solid #10069F;
  border-radius: 12px;
  cursor: pointer;
}

.wpcf7-submit {
  border-radius: 20px;
  border: 2px solid #10069F;
  background: #FFF;
  box-shadow: 0 6px 0 0 #10069F;
  width: 35%;
}
label {
  display: block;
  text-align: right;
  font-family: Pelak;
  font-size: 18px;
  font-style: normal;
  margin-bottom: 6px;
}
textarea {
  height: 100px;
  width: 100%;
  border: 1px solid #999;
  background: #FFF0B3;
  padding: 5px;
  border-radius: 6px;
}
input {
  width: 100%;
  border: 1px solid #999;
  background: #FFF0B3;
  padding: 5px;
  border-radius: 6px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #10069F;
}

.submit-wrapper {
  text-align: left;
}

input.wpcf7-submit {
  background: #fff;
  border: 1px solid #10069F;
  border-radius: 12px;
  cursor: pointer;

}

@include media-breakpoint-down('lg') {
  .wpcf7-submit {
    border-radius: 20px;
    border: 2px solid #10069F;
    background: #FFF;
    box-shadow: 0 6px 0 0 #10069F;
    width: 100%;
  }
}

#faq {
  padding: 25% 0 0 0;

  .faq-tabs {
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    scrollbar-color: white white;

    .nav-link {
      background: #ffffff;
      border: 1px solid #e6e6e6;
      border-radius: 12px;
      margin-bottom: 12px;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #333;
      transition: all 0.25s ease;

      img {
        object-fit: contain;
      }

      &:hover {
        border-radius: 24px;
        border: 2px solid #10069F;
        background: #FFE166;
        box-shadow: -4px 6px 12px 0 rgba(0, 0, 0, 0.15);
        color: #10069F;
      }

      &.active {
        border-radius: 24px;
        border: 2px solid #10069F;
        box-shadow: -4px 6px 12px 0 rgba(0, 0, 0, 0.15);
        color: #10069F;
        background: #FFE166;
      }
    }
  }

  .tab-content {
    border-radius: 24px;
    border: 2px solid var(--Primary-Blue, #10069F);
    background: #FFFAE6;
    box-shadow: -4px 6px 12px 0 rgba(0, 0, 0, 0.15);
  }

  .faq-tabs {
    margin-bottom: 32px;

    .nav-link {
      color: var(--Primary-Blue, #10069F);
      text-align: center;
      font-family: Pelak;
      font-size: fluid-font(14px,24px);
      font-style: normal;
      font-weight: 700;
      padding: 45px 0;
      border-radius: 24px;
      border: 2px dashed var(--Primary-Blue, #10069F);
      background: #FFF0B3;
      box-shadow: -4px 6px 12px 0 rgba(0, 0, 0, 0.15);
    }
  }

  .custom-accordion {
    .accordion-item {
      overflow: hidden;
      background: none;
      border: none;

      &:not(:last-child) {
        border-bottom: 2px solid #10069F;
      }

      h2 {
        color: #10069F;
        text-align: center;
        font-family: Pelak;
        font-size: fluid-font(20px, 40px);
        font-style: normal;
        font-weight: 700;
        line-height: 180%;
      }

      .accordion-header {
        button {
          background: none;
          padding:  20px;
          font-size: fluid-font(14px, 20px);
          font-weight: 600;
          color: #10069F;
          box-shadow: none;
          transition: all 0.25s ease;
          text-align: right;
          position: relative;
          &:after{
            content: '';
            display: none;
          }
          span{
            position: absolute;
            left: 50px;
          }
          &:not(.collapsed) {
            span {
              &:before {
                content: '-';
              }
            }
          }

          span {
            width: 60px;
            height: 60px;
            background-color: rgba(255, 225, 102, 1);
            color: $primary-color;
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
            font-size: 32px;
            font-weight: 100;
            @include media-breakpoint-down('lg'){
              width: 30px;
              height: 30px;
              line-height: 30px;
              font-size: 12px;

            }
            &:before {
              content: '+';
            }
          }
        }

      }

      .accordion-body {
        color: #10069F;
        text-align: right;
        font-family: Pelak;
        font-size: fluid-font(14px, 20px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 0 20px 40px 20px;
      }
    }
  }

  /* Responsive */
  @include media-breakpoint-down('lg') {
    .faq-tabs {
      margin-bottom: 20px;
      overflow-x: scroll;
      scrollbar-width: none;
      scrollbar-color: white white;

      .nav-link {
        font-size: 15px;
        border-radius: 24px;
        border: 2px dashed var(--Primary-Blue, #10069F);
        background: #FFF0B3;
        box-shadow: -4px 6px 12px 0 rgba(0, 0, 0, 0.15);
        min-width: 260px;

        img {
        }
      }
    }
    .custom-accordion {
      .accordion-header button {
        padding: 16px;
      }
    }
  }
}