@font-face {
  font-family: 'Pelak';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/PELAKFA-MEDIUM.woff2') format('woff2'), url('fonts/Pelak-Medium.woff') format('woff');
}

@font-face {
  font-family: 'pelak';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/PELAKFA-REGULAR.woff2') format('woff2'), url('fonts/Pelak-Regular.woff') format('woff');
}

@font-face {
  font-family: 'pelak';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/PELAKFA-LIGHT.woff2') format('woff2'), url('fonts/Pelak-light.woff') format('woff');
}

@font-face {
  font-family: 'pelak';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/PELAKFA-BOLD.woff2') format('woff2'), url('fonts/Pelak-BOLD.woff') format('woff');
}

@font-face {
  font-family: 'pelak';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/Pelak-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'pelak';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/Pelak-Black.woff') format('woff');
}
@keyframes float {
  0% {
    //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    //box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}
.shape-float{
  animation: float 3s ease-in-out infinite;
}
.title-group {
  position: relative;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-down('md') {
    padding: 2rem;
  }
  img{
    width: fluid-font(160px,330px);
  }
  h2 {
    font-feature-settings: 'ss03' on;
    font-size: fluid-font(20px,40px);
    font-weight: 900;
    line-height: normal;
    color: #10069F;
    position: absolute;
  }
}
.delis-btn {
  border: 2px solid $primary-color;
  font-size: fluid-font(14px, 24px);
  font-weight: 500;
  box-shadow: 0 6px 0 0 $primary-color;
  border-radius: clamp(12px, 3px + 0.8vw, 24px);
  color: #000;
  background-color: #fff;
  padding: 14px 10px;
  width: 300px;
  display: block;
  text-align: center;
  transition: all .3s;
  @include media-breakpoint-down('md') {
    width: 100%;
    text-align: center;
  }
  &:hover{
    background-color: #E7E6F5;
  }

  &.secondary {
    background-color: $secondary-color;
    &:hover{
      background-color: #FFE166;
    }
  }
}
.swiper {
  .swiper-button-next, .swiper-button-prev {
    width: fluid-font(32px, 64px);
    height: fluid-font(32px, 64px);
    border-radius: clamp(12px, 3px + 0.8vw, 24px);
    border: 2px solid var(--Primary-Blue, #10069F);
    background: var(--Primary-Yellow, #FFCD00);
    box-shadow: 0 6px 0 0 #10069F;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    z-index: 1;

    svg {
      width: fluid-font(12px, 24px);;
    }
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }
}
body {
  background-color: #FFFAE6;
  font-family: Pelak, "IranSans", sans-serif;
  margin: 0;
  padding: 0;
  direction: rtl;

}
#hero {
  background-image: url("images/HiroBackground.svg");
  background-size: 100%;
  padding: 0 0 18% 0;
  background-repeat: no-repeat;
  @include media-breakpoint-down('md') {
    background-image: url("images/hero-mobile.svg");
  }


  .dotted-line {
    position: absolute;
    bottom: 13vw;
    left: 8%;
  }

  .hero-text {
    .heart {
      position: absolute;
      top: 12%;
      left: 8%;
    }

    .dotted-line {
      position: absolute;
      top: 25%;
      left: 0;
    }
  }

  .subtitle {
    font-size: fluid-font(32px, 40px);
    color: #10069F;
    font-weight: 500;

  }

  .logo-text {
    .img-1 {
      position: absolute;
      top: 22px;
      right: 6%
    }

  }

  p {
    text-align: right;
    font-size: fluid-font(14px, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include media-breakpoint-down('md') {
      text-align: center;
    }
  }

  .tv-container {

    margin: 0 auto;
  }

  .tv-frame {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
  }

  .tv-screen {
    position: absolute;
    inset: 27% 17% 0 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4 / 3;
    z-index: 0;
    width: 75%;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      display: block;
    }
  }
}
#about {
  background-image: url("images/about-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  padding: 10% 0;

  .delis-btn {
    a {
      width: 320px;
      background: #fff;
    }
  }

  .left-img {
    width: 100%;
  }

  .girl {
    position: absolute;
    left: 2%;
    top: -9%;

  }

  @include media-breakpoint-down('md') {
    padding: 0;

  }

  p {
    color: #000;
    text-align: justify;
    font-size: fluid-font(14px, 22px);
    font-style: normal;
    font-weight: 400;
  }


  .sub-title {
    font-size: fluid-font(60px, 96px);
    font-weight: bold;
    mix-blend-mode: multiply;
    color: #FFFAE6;
    text-shadow: -1px -1px 0 #FFCD00,
    1px -1px 0 #FFF0B3,
    -1px 1px 0 #FFF0B3,
    1px 1px 0 #FFCD00;
    font-feature-settings: 'ss03' on;
    position: relative;
    z-index: 20;
    @include media-breakpoint-down('md') {
      text-align: center;
    }
  }
}
$circle-size: 50px;
$circle-bg: #0a0a80;
$icon-color: #ff6600;

.custom-header {
  position: relative;
  background: #fffbe9;
  padding: 10px 20px;

  .header-logo {
    .text-logo {
      position: relative;
      z-index: 20;
    }

    .circle-img {
      position: absolute;
      top: 0;
      height: 102px;
      right: 33%;
      z-index: 0;

    }
  }

  .header-icon {
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    img {
      width: 80px;

    }

    a, button {
      color: $icon-color;
      font-size: fluid-font(14px, 24px);
      border: none;
      background: transparent;
      cursor: pointer;
      outline: none;
    }

    &:hover {
      transform: scale(1.1);
      transition: .3s ease;
    }
  }
}

#instagram {
  background-color: #FFF0B3;
  background-image: url("images/insta-bg.png");
  z-index: 2;
  background-repeat: repeat-y;
  background-size: 100% 100%;
  background-position: bottom;
padding: 70px 0;
  .fruit {
    .tout {
      position: absolute;
      top: 14%;
      z-index: 10;
      right: -3%;
    }

    .anar {
      position: absolute;
      left: -7%;
      top: 11%;
    }

    .box {
      position: absolute;
      bottom: 0;
      left: -7%;
    }
  }

  .instagram-box {
    text-align: left;
    background-color: #FFFAE6;
    border-radius: 24px;
    border: 1px solid #000;
    .card-header{
      span{
        font-size: fluid-font(10px, 20px);
      }
      img{
        width: fluid-font(22px, 52px);
      }
    }
    .card-footer{
      .mark{
        img{
          height: fluid-font(10px,20px);
        }
      }
      .instagram-icons{
        .info-count{
          display: flex;
          align-items: center;
          gap: 5px;
          span{
            font-size: fluid-font(10px,16px);
          }
          img{
            height: fluid-font(10px,20px);
          }
        }
      }
    }
  }

  .insta-info {
    padding: 10px 15px;
    text-align: left;
  }

  .insta-user {
    font-weight: 600;
    margin: 0;
    color: #333;
  }

  .insta-icons {
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: #555;
    margin-top: 5px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #ffce00;
    transition: opacity 0.3s ease;

    svg {

      height: fluid-font(12px, 24px);

    }
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    opacity: 0.7;
  }
}

#poo-delis {
  background-image: url("images/insta-bottom.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  padding: 10% 0;
  @include media-breakpoint-down('md') {
    padding: 0;
  }

  .delis-btn {

    a {
      background-color: #fff;
      border: 2px solid #10069F;
      font-size: fluid-font(14px, 24px);
      font-weight: 500;
      box-shadow: 0 6px 0 0 #10069F;
      border-radius: 20px;
      @include media-breakpoint-down('md') {
        width: 204px;
      }
    }
  }

  span {
    color: #000;
    font-size: fluid-font(20px, 32px);
    font-style: normal;
    font-weight: 700;
    @include media-breakpoint-down('md') {
    }
  }

  p {
    font-size: fluid-font(14px, 22px);
    line-height: 32px;

  }

  .pod-img {
    padding: 10%;
    img {
      width: 100%;

    }
    p {
      text-align: right;
      font-size: fluid-font(14px, 24px);
      font-style: normal;
      font-weight: 400;
      margin: 3% 0;
      @include media-breakpoint-down('md') {

        margin-top: 15%;
      }
    }

  }

  .sub-title {
    font-size: fluid-font(60px, 96px);
    font-weight: bold;
    mix-blend-mode: multiply;
    color: #FFFAE6;
    text-shadow: -1px -1px 0 #FFCD00,
    1px -1px 0 #FFF0B3,
    -1px 1px 0 #FFF0B3,
    1px 1px 0 #FFCD00;
    font-feature-settings: 'ss03' on;
    position: relative;
    z-index: 20;
    @include media-breakpoint-down('md') {
      text-align: center;
    }
  }
}

#footer {
  border-top: 1px solid #10069F;
  border-bottom: 1px solid #10069F;

  .box-center {
    border-left: 1px solid #10069F;
    border-right: 1px solid #10069F;
  }

  .link-Image {
    position: absolute;
    bottom: 15%;
  }


  .link-Container {
    margin: 20%;
    max-height: 132px;
    max-width: 160px;

    a {
      color: var(--Dark-Grey-Black, #000);
      text-align: center;
      font-feature-settings: 'ss03' on;
      font-size: fluid-font(14px, 24px);
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      z-index: 10;
    }
  }

  .footer-bar {
    border-top: 1px solid #10069F;

    p {
      font-size: fluid-font(14px, 16px);
      color: #000;
    }

  }

  .wrapper {
    background: #FFF0B3;

    p {
      color: #10069F;
      font-size: fluid-font(14px, 22px);

    }
  }

  .icon-box {
    img {
      width: 48px;
    }

    p {
      font-size: fluid-font(14px, 18px);
      color: #000;
      font-weight: 800;
    }
  }

  .form-control {
    border: 1.5px solid #191970;
    border-radius: 12px;
    padding: 5px;
    background: #FFF0B3;
  }

  .btn-custom {
    background-color: #FFF0B3;
    border: 2px solid #191970;
    border-radius: 12px;
    color: black;
    font-weight: 500;
    box-shadow: 2px 3px 0 #191970;
    transition: all 0.2s;
  }

  .btn-custom:hover {
    background-color: #191970;
    color: white;
    box-shadow: none;
  }
}

.border-btm {
  width: 100%;
  height: 8px;
  border-radius: 300px;
  background: #FFE166;
  margin-right: 10%;
  margin-top: -7%;
}

.border-title {
  width: 84%;
  height: 21px;
  border-radius: 300px;
  background: #FFCD00;
  margin-right: -2%;
  margin-top: -4%;
  max-width: 100%;
}

.product-categories {
  text-align: center;
  padding: 2rem 1rem;

  .categories-grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;

    .category-item {
      cursor: pointer;
      transition: transform 0.3s, box-shadow 0.3s;
      text-align: center;
      padding: 0.5rem;
      border-radius: 1rem;
      background: #fff;
      box-shadow: 0 0 0 2px transparent;

      &:hover {
        transform: scale(1.05);
      }

      &.active {
        box-shadow: 0 0 0 2px #f7c200;
      }

      img {
        width: 100px;
        display: block;
        margin: 0 auto 0.5rem;
      }

      h3 {
        font-size: 1rem;
        color: #333;
      }
    }
  }

  .swiper-category-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;

    .product-card {
      text-align: center;
      text-decoration: none;
      color: #333;

      img {
        width: 120px;
        transition: transform 0.3s;
      }

      &:hover img {
        transform: scale(1.05);
      }
    }
  }

  .swiper-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

    .swiper-button-prev,
    .swiper-button-next {
      color: #333;
      transition: color 0.3s;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

#products {
  background-image: url("images/product-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 75%;
  .horizontal-scroll {
    @include media-breakpoint-down('lg') {
      flex-wrap: nowrap;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      .select-category {
        width: clamp(30vw, 50vw, 40vw);
      }
    }

  }

  .select-category {
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 24px;
    border: 2px dashed $primary-color;
    box-shadow: -4px 6px 12px 0 rgba(0, 0, 0, 0.15);
    padding: 20px;
    position: relative;
    background-color: #FFFAE6;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: radial-gradient(50% 50% at 50% 50%, #FFFAE6 0%, #FFFAE6 50%, #FFE166 100%);
      opacity: 0;
      transition: opacity 0.3s ease-in;
      z-index: 0;
      border-radius: 24px;
    }

    &:hover {
      border: 2px solid $primary-color;
    }
    &.selected{
      border: 2px solid $primary-color;
      &::before {
        opacity: 1;
      }
    }

    span {
      text-align: center;
      display: block;
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: bold;
      color: $primary-color;
      position: relative;
      z-index: 1;
    }

    img {
      position: relative;
      z-index: 1;
      height: 100%;
    }
  }

  #product-slider {
    aspect-ratio: 1 / 1;
    width: 100%;
    //height: 100%;
    //border: 2px solid $primary-color;
    //border-radius: 24px;
    position: relative;

    .taste-shapes {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      top: 0;
      z-index: -1;
      border-radius: 24px;

      //&.banana {
      //  background: radial-gradient(50% 50% at 50% 50%, #FFFAE6 0%, #FFFAE6 50%, #FFE166 100%);
      //}
      //
      //&.chocolate {
      //  background: radial-gradient(50% 50% at 50% 50%, #B9A69D 0%, #997E71 50%, #603D2D 100%);
      //}
      //
      //&.caramel {
      //  background: radial-gradient(50% 50% at 50% 50%, #FFC19C 0%, #F28C4E 50%, #E45600 100%);
      //}
      //
      //&.apple {
      //  background: radial-gradient(50% 50% at 50% 50%, #E9FFE5 0%, #AAE0A1 50%, #69C359 100%);
      //}
      //
      //&.melon {
      //  background: radial-gradient(50% 50% at 50% 50%, #E9FFEF 0%, #9FDEB0 50%, #72B384 100%);
      //}
      //
      //&.strawberry {
      //  background: radial-gradient(50% 50% at 50% 50%, #FAC0C8 0%, #EA7382 50%, #EB3950 100%);
      //}
      //
      //&.orange {
      //  background: radial-gradient(50% 50% at 50% 50%, #FFD5B2 0%, #FFA95E 50%, #FF7600 100%);
      //}
      //
      //&.vanilla {
      //  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #FFF7D7 50%, #FFEB99 100%);
      //}
      //
      //&.cookie {
      //  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #FFECD3 50%, #F3CB94 100%);
      //}
      //
      //&.cherry {
      //  background: radial-gradient(50% 50% at 50% 50%, #FF7878 0%, #D52929 50%, #A60707 100%);
      //}

      .float-shape {
        //position: absolute;
        //inset: 50% 50% auto auto;
        z-index: -1;
        transform: translate(0, 0) scale(0);
        //inset: 0;
        transition: all linear 0.4s;
        transition-delay: 0.1s;
      }

      &.move-in {
        .float-shape {

          &:nth-child(1) {
            transform: translate(85%, -220%) scale(1);
          }

          &:nth-child(2) {
            transform: translate(-230%, 200%) scale(1);
          }

          &:nth-child(3) {
            transform: translate(-80%, -190%) scale(1);
          }
        }
      }
    }

    #product-loader {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 6;
      right: 0;
      background: rgb(255 255 255 / 50%);
      display: flex;
      justify-content: center;
      align-items: center;

      .spinner-border {
        width: 5rem;
        height: 5rem;
        color: $primary-color;
      }
    }
    .swiper-slide {
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;

      & > img {
        height: 80%;
      }
    }
  }
}
