#painting-modal {
  .modal-dialog{
    @include media-breakpoint-up('lg'){
      width: 700px;
    }
  }
  .modal-content {
    background-color: rgba(231, 230, 245, 1);
    border: 2px solid rgba(16, 6, 159, 1);
    box-shadow: 0 12px 0 0 rgba(16, 6, 159, 1);
    border-radius: 40px;
    padding: 70px 100px;
    @include media-breakpoint-up('lg'){
      padding: 70px;
    }
    a[data-bs-dismiss="modal"] {
      width: 48px;
      height: 48px;
      background-color: $primary-color;
      border-radius: 50%;
      position: absolute;
      right: 25px;
      top: 25px;
      svg{
        width: 100%;
        padding: 10px;
      }
    }

  }

  .step {
    display: none;

    &.active {
      display: block;
    }
    .nextBtn{
      width: 65%;
    }
    .prevBtn{
      width: 35%;
    }
  }

  .steps-nav {

    .separator{
      border-bottom: 1px dashed $primary-color;
      width: 3vw;
    }
    .nav-link {
      width: 60px;
      height: 60px;
      border-radius: 24px;
      border-width: 1px;
      border-style: dashed;
      box-shadow: 0px 4px 0px 0px rgba(88, 81, 188, 1);
      background-color: rgba(255, 240, 179, 1);
      text-align: center;
      color: rgba(88, 81, 188, 1);
      font-size: 20px;
      line-height: 48px;
      font-weight: 500;

      &.active {
        background: $secondary-color;
        border-color: $primary-color;
        color:$primary-color;
        font-weight: bold;
        box-shadow: 0 4px 0 0 $primary-color;
      }
    }
  }

  #multiForm {
    .statusText{
      font-size: fluid-font(14px,20px);
    }
    #phone-error,#digits-error{
      font-size: fluid-font(12px,16px);
      color:#D81F25 ;
    }
    #otp-timer,#otp-resend{
      font-size: fluid-font(12px,16px);
      color: $primary-color;
    }
    .upload-zone{
      height: 40dvh;
      width: 100%;
      background-color: #FFF0B3;
      border-radius: 24px;
      border:1px dashed $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      flex-direction: column;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .upload-bg{
        position: absolute;
        inset: 0;
        margin: auto;
      }
      #upload-button{
        font-size: 24px;
        padding: 14px 20px;
        border-radius: 24px;
        border: 1px solid $primary-color;
        margin-bottom: 40px;
        z-index: 1;
        background-color: #FFF0B3;
      }
    }
    label {
      font-size: 18px;
      color: black;
    }

    .form-input {
      margin-bottom: 30px;
    }

    .digits-group {
      display: flex;
      justify-content: space-between;
    }

    input {
      border-radius: 12px;
      background-color: rgba(255, 240, 179, 1);
      height: 60px;

      &.input-digits {
        font-size:  fluid-font(36px,60px);
        width: fluid-font(70px,110px);
        height:  fluid-font(70px,110px);
        text-align: center;
        font-weight: bold;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
          -moz-appearance:textfield; /* Firefox */
        }
      }

      &:not(.is-invalid) {
        border-color: rgba(16, 6, 159, 1);
      }
    }
  }
}