#painting-modal {
  .modal-dialog{
    width: 700px;
  }
  .modal-content {
    background-color: rgba(231, 230, 245, 1);
    border: 2px solid rgba(16, 6, 159, 1);
    box-shadow: 0 12px 0 0 rgba(16, 6, 159, 1);
    border-radius: 40px;
    padding: 50px 100px;
  }

  .step {
    display: none;

    &.active {
      display: block;
    }
    .nextBtn{
      width: 65%;
    }
    .prevBtn{
      width: 35%;
    }
  }

  .steps-nav {

    .separator{
      border-bottom: 1px dashed $primary-color;
      width: 7vw;
    }
    .nav-link {
      width: 60px;
      height: 60px;
      border-radius: 24px;
      border-width: 1px;
      border-style: dashed;
      box-shadow: 0px 4px 0px 0px rgba(88, 81, 188, 1);
      background-color: rgba(255, 240, 179, 1);
      text-align: center;
      color: rgba(88, 81, 188, 1);
      font-size: 20px;
      line-height: 48px;
      font-weight: 500;

      &.active {
        background: $secondary-color;
        border-color: $primary-color;
        color:$primary-color;
        font-weight: bold;
        box-shadow: 0 4px 0 0 $primary-color;
      }
    }
  }

  #multiForm {
    .upload-zone{
      height: 40dvh;
      width: 100%;
      background-color: #FFF0B3;
      border-radius: 24px;
      border:1px dashed $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      flex-direction: column;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .upload-bg{
        position: absolute;
        inset: 0;
        margin: auto;
      }
      #upload-button{
        font-size: 24px;
        padding: 14px 20px;
        border-radius: 24px;
        border: 1px solid $primary-color;
        margin-bottom: 40px;
        z-index: 1;
        background-color: #FFF0B3;
      }
    }
    label {
      font-size: 18px;
      color: black;
    }

    .form-input {
      margin-bottom: 30px;
    }

    .digits-group {
      display: flex;
      justify-content: space-between;
    }

    input {
      border-radius: 12px;
      background-color: rgba(255, 240, 179, 1);
      height: 60px;

      &.digits {
        width: 110px;
        height: 110px;
      }

      &:not(.is-invalid) {
        border-color: rgba(16, 6, 159, 1);
      }
    }
  }
}